.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
}
.product .product-name{
    color: blue;
    font-weight: 400;
}

.buy-btn{
    background-color: goldenrod;
    width: 125px;
    height: 30px;
    border: 1px solid #4444;
    border-radius: 5px;
    cursor: pointer;
}